html {
    font-size: 14pt;
    font-family: "courier-prime", monospace;
    font-weight: 400;
    font-style: normal;
}
body {
    background-color: #222224;
    background-image: url("/assets/grain.png");
    color: #222;
    margin-bottom: 3%;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0rem 1rem;
}

.title {
    font-size: 1.3rem;
    margin: 1rem 0 0rem 0;
    color: #fff;
    width: fit-content;
    padding-bottom: 0.25rem;
}

.title::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: rgba(255,0,0,0.5);
    margin-top: 0.5rem;
    border-radius: 3px;
}

.leading-text {
    font-size: 0.75rem;
    color: #999;
    display: block;
    letter-spacing: 1.2px;
}

.photo-grid {
    column-count: 2;
    column-width: 500px;
    column-gap: 1rem;
    margin-bottom: 1rem;
}

.photo {
    display: inline-block;
    text-decoration: none;
    color: #000;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25), -5px -5px 10px rgba(0, 0, 0, 0.25);
    break-inside: avoid;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    transition: background-color 200ms ease;
}

.photo:hover {
    background-color: rgba(255,255,255,0.5);
}

.photo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffdd;
    background-image: url("/assets/grain.png");
    z-index: -1;
    opacity: 1;
}

.photo img {
    width: 100%;
    height: auto;
}

.meta {
    font-size: 10pt;
    padding: 0.5rem;
    line-height: 1.5;
    display: block;
    box-sizing: border-box;
    max-width: 100%;
    margin: 0 auto;
}

.meta p {
    margin: 0;
}

.meta__title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: bold;
}

hr {
    margin: 0.25rem 0;
    border: none;
    border-top: 1px dotted rgba(0,0,0,0.2);
}

.meta ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
}

.meta ul li {
    display: inline-block;
    margin-right: 1rem;
}