{{ define "photo" }}
<a class="photo" href="{{ getAssetURL . }}" target="_blank">
    <img src="{{ getPreviewURL . }}" alt="{{ .Description }}" style="aspect-ratio: {{ .Width }} / {{ .Height }};" width="500" loading="lazy"><!--
    --><div class="text">
        <p class="meta">
            <span>{{ displayTime . }}</span>
            <span>{{ displayTitle . }}</span>
        </p>
        <p class="description">{{ displayDescription . }}</p>
    </div>
</a>
{{ end }}