{{ define "photo" }}
<a class="photo" href="{{ getAssetURL . }}" target="_blank">
    <img src="{{ getAssetURL . }}?key=standard" alt="{{ .Description }}" style="aspect-ratio: {{ .Width }} / {{ .Height }};" width="500" loading="lazy">
    <div class="meta">
        <p>
            <strong>{{ displayTime . }}</strong>
        </p>
        <hr>
        <ul>
            <li>{{ displayCamera . }}</li>
            <li>{{ displayLens . }}</li>
        </ul>
        <hr>
        <ul>
            <li>{{ displayFocalLength . }}</li>
            <li>{{ displayAperture . }}</li>
            <li>{{ displayExposure . }}</li>
            <li>{{ displayISO . }}</li>
        </ul>
    </div>
</a>
{{ end }}